.App {
  text-align: center;
  height: 100vh;
  overflow-y: hidden;
}

#lower-section {
  max-height: 77%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 32%;
  min-width: 32%;
  max-height: 100%;
  min-height: 100%;
}

#station-map {
  max-width: 120%;
}

/* phone styles */
@media screen and (max-width: 479px) {
  #lower-section {
    min-height: 79%;    
    display: block;
    overflow-y: auto;
  }
  #col1 {
    display: block;
  }
  #col2 {
    display: none;
  }
}