.App {
  text-align: center;
  height: 100vh;
  background-color: #d3d3d3;
  overflow-y: auto;
}

#lower-section {
  max-height: 86%;
  width: 100%;
  display: flex;
}

.column {
  flex-basis: 32%;
  min-width: 32%;
  max-height: 100%;
  min-height: 100%;
}

#col1 {
  margin-right: 1%;
}

#station-map {
  max-width: 120%;
  max-height: 100%;
}

/* phone styles */
@media screen and (max-width: 479px) {
  #lower-section {
    min-height: 80%;    
    display: block;
    overflow-y: auto;
  }
  #col1 {
    display: block;
  }
  #col2 {
    display: none;
  }
}