.App-header {
	height: 90px;
	width: 100%;
	color: white;
	background-color: #222;
	display: flex;
	flex-direction: column;
}

.App-title {
	font-size: 1.5em;
	margin: 0;
}

.station-row {
	overflow-x: auto;
	white-space: nowrap;
	flex: 1;
}

.station-name-header {
	margin: 0;
}

/*#station-search-button {
	height: 48px;
	width: 48px;
	border: none;
	background-image: url("./assets/search.png");
	background-size: contain;
	background-color: #062a63;
	padding-bottom: 5px;
}*/