.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  display: block;
  overflow: auto;
}

.App-title {
	font-size: 1.5em;
}

.station-name-header {
	display: inline;
}

#station-search-button {
	height: 48px;
	width: 48px;
	border: none;
	background-image: url("./assets/search.png");
	background-size: contain;
	background-color: #062a63;
	padding-bottom: 5px;
}