.traintainer {
	max-height: 100%;
	overflow-y: auto; /*lets it scroll*/
}

.lower-section {
	display: flex;
}

/* phone styles */
@media screen and (max-width: 479px) {
     .traintainer {
     	width: 100%;
     	display: block;
     }
}